.alt-header {
  padding: var(--horizontal-space);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 26px 0 15px;
}

.alt-header__column:first-child {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  display: flex;
  align-items: center;
}

.alt-header__column:last-child {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.alt-header__title {
  font-size: 27px;
  font-weight: 600;
}
